.wrapper {
    position: relative;

    min-width: 100px;
    width: 100px;
    min-height: 40px;
    height: 40px;

    border-radius: 40px;
}


.button {
    position: relative;
    width: 100%;
    height: 100%;

    border-radius: inherit;
    outline: none;

    background: var(--background);

    cursor: pointer;
    color: var(--text-color-main);
    font-weight: bold;

    transition: transform 0.3s ease 0s;
}

.light {
    border: 1px solid var(--text-color-main)
}

.dark {
    border: none;
}

.darkText {
    background: var(--linear-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button:hover {
    transform: translateY(-5px);

    background: var(--background);
}

.glow {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;

    background: var(--radial-grad);

    border-radius: inherit;
    transition: var(--smooth);
    z-index: -1;
}

.glow:before {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;

    background: var(--radial-grad);
    filter: blur(5px) opacity(0.5);

    border-radius: inherit;
    transition: all 0.3s ease 0s;
    z-index: 1000;
}

.button:hover ~ .glow {
    transform: translateY(-5px);
}