.switcher {
    position: absolute;
    top: -35px;
    right: 15%;

    width: 60px;
    height: 60px;

    user-select: none;

    z-index: -1;
}

.round {
    display: flex;
    justify-content: center;

    position: relative;
    width: inherit;
    height: inherit;

    border-radius: 50%;

    transition: var(--smooth);
}

.round > * {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 40px;
    height: 40px;

    border-radius: 50%;

    cursor: pointer;

    color: var(--text-color-main);

    background: var(--background);

    box-shadow: 3px 3px 6px var(--shadow),
    -3px -3px 6px var(--glow);
}

.moon {
    transform: scale(-1, 1) rotate(40deg);

    top: -20px;
}

.sun {
    bottom: -20px;

    background-image: linear-gradient(var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}