.wrapper {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 500px;
    width: 70%;
    min-height: 50px;
    height: 50px;

    z-index: 100;
}

.wrapper input {
    padding: 0 5% 0 3%;

    min-width: 70%;
    width: 70%;
    min-height: 100%;
    height: 100%;

    border: none;
    border-radius: 15px;
    outline: none;

    background: var(--background);

    color: var(--text-color-main);
    font-weight: 600;
    font-size: 18px;

    transition: width 0.3s ease 0s;
}

.wrapper input::placeholder {

    color: var(--inactive-text);

    font-weight: normal;
    font-size: 18px;
}

.rainbowGlow {
    position: absolute;

    top: -1px;
    left: calc(15% - 1px);
    right: calc(15% - 1px);
    bottom: -1px;

    border-radius: 15px;

    background: var(--radial-grad);

    transition: var(--smooth);
    z-index: -1;

    animation: 3s rainbowGlow infinite ease alternate;
}
.rainbowGlow:before {
    content: "";
    position: absolute;

    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;

    filter: blur(10px) opacity(0.5);

    border-radius: 15px;

    background: var(--radial-grad);

    transition: var(--smooth);
    z-index: -1;
}
.wrapper input:focus ~ .rainbowGlow {
    left: calc(2.5% - 1px);
    right: calc(2.5% - 1px);
}

.wrapper input:focus {
    width: 95%;
}


.icon {
    position: absolute;
    right: 16%;
    color: var(--inactive-text);



    cursor: pointer;

    transition: var(--smooth);
}

.icon:hover {
    color: var(--text-color-main);

    transform: scale(1.1);
}

input:focus ~ .icon {
    pointer-events: none;

    cursor: default !important;
}

.wrapper input:focus ~ .icon {
    right: 3.5%;
}

.switcher {
    transition: all 0.4s ease 0s;
}

.wrapper input:focus ~ .switcher {
    position: absolute;
    right: 5%;
}

.wrapper input:focus ~ .icon {
    color: var(--text-color-main) !important;
}

@keyframes rainbowGlow {
    100% {
        background-position-x: -1920px;
    }
}