
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-width: 100vw;
    width: 100vw;
    max-width: 1920px;
    min-height: 100vh;
}

.logo {
    user-select: none;

    width: calc(100px + 3vw);
    height: calc(100px + 3vw);
}