@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*   Применить для всего   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito', sans-serif;

}


/*   Стили для тёмный и светлой темы   */
html[data-theme="dark"] {
    --background: #0a0a0a;
    --backgroundLight: #171717;
    --border-inactive: rgba(255, 255, 255, 0.3);
    --shadow: rgba(0,0,0,0.5);
    --glow: rgba(255,255,255,0.02);

    --text-color-main: #dcdcdc;
}

html[data-theme="light"] {
    --background: #edf1f4;
    --backgroundLight: #fffe;
    --border-inactive: rgba(0, 0, 0, 0.3);
    --shadow: rgba(0,0,0,0.25);
    --glow: #fffb;

    --text-color-main: black;
}
html {
    background: var(--background);
}


/*   Общие стили   */
:root {
    --smooth: all 0.3s ease 0s;

    --inactive-text: #84858a;

    --green: #3ba45d;
    --blue: #5a64ef;
    --darker-blue: #434ccb;
    --violet: #7f5af0;
    --darker-violet: #3d1d9c;

    --gradient-color1: #6224e4;
    --gradient-color2: #b300cc;
    --gradient-color3: #e100b2;
    --gradient-color4: #ff189a;

    --linear-grad: linear-gradient(to left, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
    --radial-grad: radial-gradient(var(--gradient-color1) 60%, var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
}


/*   Класс для иконок google   */
.material-symbols-outlined {
    user-select: none;
    font-variation-settings:
            'FILL' 1,
            'wght' 600,
            'GRAD' 200,
            'opsz' 48
}
span {
    color: var(--text-color-main);
}


/*  Скрыть скроллбар везде и не занимать место   */
::-webkit-scrollbar {
    display: none;
}