.window {
    filter: opacity(0);

    pointer-events: none;

    --width: 67%;
    --height: fit-content;

    position: absolute;
    top: 120px;
    left: calc(50% - var(--width) / 2);
    padding: 30px;

    min-width: var(--width);
    width: var(--width);
    max-width: var(--width);

    height: var(--height);

    background: var(--background);

    box-shadow: 3px 3px 6px var(--shadow),
    -3px -3px 6px var(--glow);

    border-radius: 15px;

    transition: filter 0.3s ease 0s,
                transform 0.3s ease 0s;
}

.active {
    filter: opacity(1);

    pointer-events: all;
}

.content {
    display: flex;

    width: 100%;
    height: 100%;
}

.content > :not(:first-child) {
    margin-left: 20px;
}

.shopsArea {
    display: flex;
    flex-direction: column;

    width: 29%;
    height: 100%;
}

.shopsArea > h1, .priceArea > h1 {
    color: var(--inactive-text);
    font-weight: normal;
    font-size: 18px;
}

.shopsArea > h1[data-theme="light"], .priceArea > h1[data-theme="light"] {
    color: var(--text-color-main);
}

.shopsArea hr[data-theme="dark"], .priceArea hr[data-theme="dark"] {
    border: none;
    background: linear-gradient(to left, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));

    width: 100%;
    height: 1px;
}

.shopsArea > div {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.shopsArea > div > * {
    margin-top: 10px;
    margin-left: 10px;
}

.priceArea {
    display: flex;
    flex-direction: column;

    width: 29%;
    height: fit-content;
}

.priceInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;

    width: 100%;
    height: 100%;
}

.glow[data-theme="dark"]:before {
    position: absolute;
    content: "";
    left:-1px;
    right:-1px;
    top:-1px;
    bottom:-1px;

    background: linear-gradient(var(--gradient-color2), var(--gradient-color3), var(--gradient-color4));
    border-radius: 10px;
    z-index: -1;
}

.glow {
    position: relative;
    width: 45%;

    border-radius: 10px;
}

.priceInputs input {
    padding: 10px;

    width: 100%;
    height: 40px;

    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    color: var(--text-color-main);

    background: var(--background);
}

.priceInputs input[data-theme="light"] {
    border: 1px solid var(--text-color-main)!important;
}

.priceInputs input[data-theme="dark"] {

}

.priceInputs input::placeholder {
    color: var(--inactive-text);
}

.error {
    margin-top: 20px;

    font-size: 12px;
    font-weight: bold;
    color: red;

    transition: filter 0.3s ease 0s;
}

.error[data-error="false"] {
    filter: opacity(0);
    user-select: none;
    pointer-events: none;
}

.error[data-error="true"] {
    filter: opacity(1);
}

.priceInputs input::-webkit-outer-spin-button,
.priceInputs input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}